li {
    color: purple;
    background-color: greenyellow;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

img {
    height: auto;
    width: 500px;
  }

.alert {
    color: white;
    background-color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;

}